// Buttons - increased colour contrast for a11y
.btn-outline-secondary {
  $btn-color: $gray-600;
  color: $btn-color;
  border-color: $btn-color;
}

.btn-outline-warning {
  $btn-color: $dark-yellow;
  color: $btn-color;
  border-color: $btn-color;
}

// Close icon - increased colour contrast for a11y
.close {
  opacity: .75;

  &:not(:disabled):not(.disabled) {
    @include hover-focus() {
      opacity: 1;
    }
  }
}

// Workaround https://github.com/twbs/bootstrap/issues/27879
// This ensures that the `.table-dark` context class produces a dark row
@include table-row-variant("dark", $dark, $gray-600);

.table-hover tbody .table-dark:hover {
  color: $light;
}

//
// Utilities
//

// Fonts
.font-serif {
  font-family: $font-family-serif;
}

// Suitable for isolated usage, such as light text on dark backgrounds
.font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
