// Colour palette
// Various colours in Brand DNA are inconsistent (eg CMYK vs RGB vs Web vs
// Pantone vs displayed colour), and also inconsistent between implementations
// such as the Mid Blue and Gold within the logo.  These are the best
// approximations we can ascertain and use the RGB colour point except where
// otherwise indicated.
$turquoise:       rgb(0, 152, 167) !default;
$bright-blue:     rgb(0, 174, 239) !default;
$mid-blue:        rgb(0, 102, 179) !default;  // Ref: RGB + Website logo
$dark-blue:       rgb(46, 49, 146) !default;
$midnight-blue:   rgb(32, 36, 78) !default;
$blue:            #007faf !default; // Ref: a11y

$emerald:         rgb(0, 150, 129) !default;
$light-emerald:   rgb(113, 204, 152) !default;
$bright-green:    rgb(163, 214, 94) !default;
$mid-green:       rgb(108, 194, 74) !default;
$dark-green:      rgb(0, 150, 57) !default;
$green:           #008a00 !default;  // Ref: a11y

$peach:           rgb(248, 72, 94) !default;
$light-peach:     rgb(254, 173, 119) !default;
$bright-orange:   rgb(255, 199, 44) !default;
$mid-orange:      rgb(255, 130, 0) !default;
$dark-orange:     rgb(233, 79, 53) !default;
$dark-yellow:     #957001 !default;  //Ref: a11y

$grape:           rgb(153, 30, 102) !default;
$magenta:         rgb(218, 24, 132) !default;
$bright-red:      rgb(224, 0, 77) !default;
$mid-red:         rgb(218, 41, 28) !default;
$dark-red:        rgb(167, 43, 42) !default;

$stone:           rgb(222, 219, 195) !default;
$gold:            rgb(231, 178, 15) !default;  // Ref: Website logo

// Default Bootstrap colours for monochrome colours
// Rationale: inconsistent greys in Brand DNA, insufficent variation
$white:           #fff !default;
$gray-100:        #f8f9fa !default;
$gray-200:        #e9e9e9 !default;
$gray-300:        #dee2e6 !default;
$gray-400:        #ced4da !default;
$gray-500:        #adb5bd !default;
$gray-600:        #6c757d !default;
$gray-700:        #495057 !default;
$gray-800:        #343a40 !default;
$gray-900:        #212529 !default;
$black:           #000 !default;

// Colour mapping for Bootstrap
$primary:         $mid-blue !default;
$secondary:       $gray-400 !default;
$success:         $green !default;
$info:            $blue !default;
$warning:         $gold !default;
$danger:          $mid-red !default;
$light:           $gray-200 !default;
$dark:            $gray-800 !default;

// Colour mapping structure
// stylelint-disable-next-line scss/dollar-variable-default
$colors-override: (
  "turquoise":       $turquoise,
  "bright-blue":     $bright-blue,
  "mid-blue":        $mid-blue,
  "dark-blue":       $dark-blue,
  "blue":            $blue,
  "midnight-blue":   $midnight-blue,
  "emerald":         $emerald,
  "light-emerald":   $light-emerald,
  "bright-green":    $bright-green,
  "mid-green":       $mid-green,
  "dark-green":      $dark-green,
  "green":           $green,
  "peach":           $peach,
  "light-peach":     $light-peach,
  "bright-orange":   $bright-orange,
  "mid-orange":      $mid-orange,
  "dark-orange":     $dark-orange,
  "grape":           $grape,
  "magenta":         $magenta,
  "bright-red":      $bright-red,
  "mid-red":         $mid-red,
  "dark-red":        $dark-red,
  "stone":           $stone,
  "gold":            $gold,
  "white":           $white,
  "gray":            $gray-600,
  "gray-dark":       $gray-800,
  "black":           $black
);

$theme-color-interval:      10% !default;

//
// Options
//

// Core Bootstrap options
$enable-rounded:                             false !default;

$spacer: 1.5rem !default;  // Wider spacing on all Components

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

// Brand DNA calls for Chronicle SSM or Bliss, but website uses Open Sans and
// 2020 homepage uses Bliss 2 or Open Sans/sans-serif (but Bliss is a serif
// font)...
// Ref: Use Open Sans but use default Bootstrap system font stack
$font-family-sans-serif:      "Open Sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// Ref: 2020 Homepage, with fallbacks based on data from fontfamily.io
//      and https://readium.org/readium-css/docs/CSS09-default_fonts.html
$font-family-serif:           "Playfair Display", athelas, constantia, georgia, serif;

$list-inline-padding:         $spacer !default;

$btn-disabled-opacity:        .7 !default;

$breadcrumb-bg: $gray-200 !default;
$breadcrumb-active-color: $body-color !default;

$navbar-nav-link-padding-x:         1rem !default;

$navbar-dark-color:                 rgba($white, .85) !default;
$navbar-light-color:                rgba($black, .85) !default;

$alert-bg-level:                    -8 !default;
$alert-border-level:                -5 !default;
$alert-color-level:                 7 !default;

$table-bg-level:              -8 !default;
$table-border-level:          -3 !default;

$custom-control-indicator-size:         1.5rem !default;

$close-color: $body-color !default;

// Custom Web Framework options
$enable-iconography:           true !default;
$mdi-font-path:                "../fonts/mdi" !default;
$playfair-display-font-path:   "../fonts/playfair-display" !default;
$open-sans-font-path:          "../fonts/open-sans" !default;
