// @use "@fontsource/open-sans/scss/mixins" as OpenSans;
// @use "@fontsource/playfair-display/scss/mixins" as Playfair;
@import "variables";

// Can't use @use lower in the document and can't pass a namespace or mixin as a parameter to another mixin
// @import also cannot be used inside a mixin and cannot be called as a parameter

@mixin loadFont($fontsource-name, $font-name, $font-weights, $font-styles)
{
  @each $weight in $font-weights {
    @each $style in $font-styles {
      @include fontFace(
        $fontName: $font-name,
        $weight: $weight,
        $style: $style,
        $fontDir: "#{$font-path-base}/#{$fontsource-name}",
      );
    }
  }
}

@import "~@fontsource/open-sans/scss/mixins";
@include loadFont("open-sans", "Open Sans", 300 400 600 700 800, normal italic);
@import "~@fontsource/playfair-display/scss/mixins";
@include loadFont("playfair-display", "Playfair Display", 400 700 900, normal italic);
