@import "variables";

@mixin fontFaces($name) {
  $font: map-get($fonts, $name);

  @each $weight in map-get($font, "weights") {
    @each $style in map-get($font, "styles") {
      @include fontFace(
        $fontName: map-get($font, "fontName"),
        $weight: $weight,
        $style: $style,
        $fontDir: "#{$font-path-base}/#{$name}",
      );
    }
  }
}

// fontName is required until moving to node-sass as variables are global
$fonts: (
  "open-sans": (
    "fontName": "Open Sans",
    "styles": [normal, italic],
    "weights": [300, 400, 600, 700, 800],
  ),
  "playfair-display": (
    "fontName": "Playfair Display",
    "styles": [normal, italic],
    "weights": [400, 700, 900],
  ),
);

// As `fontFace` is defined with the same name in each package (and @import
// cannot occur within a loop), we must manually include each font's mixins
@import "@fontsource/open-sans/scss/mixins";
@include fontFaces("open-sans");

@import "@fontsource/playfair-display/scss/mixins";
@include fontFaces("playfair-display");
