@use "@fontsource/open-sans/scss/mixins" as OpenSans;
@use "@fontsource/playfair-display/scss/mixins" as Playfair;

@import "variables";

$open-sans-weights: 300 400 600 700 800;
$open-sans-styles: normal italic;
@each $weight in $open-sans-weights {
  @each $style in $open-sans-styles {
    @include OpenSans.fontFace(
      $weight: $weight,
      $style: $style,
      $fontDir: "#{$font-path-base}/#{OpenSans.$fontId}",
    );
  }
}

$playfair-display-weights: 400 700 900;
$playfair-display-styles: normal italic;
@each $weight in $playfair-display-weights {
  @each $style in $playfair-display-styles {
    @include Playfair.fontFace(
      $weight: $weight,
      $style: $style,
      $fontDir: "#{$font-path-base}/#{Playfair.$fontId}",
    );
  }
}
